@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top {
    /* Your specific styling for .top at this media query */
  }
}
