h1{
color:red;
  font-size:40px;
  font-family:serif;
  backgroud-color:#f3f372;
  height:80px;
  width:20px;
}

p{
color:#0000ff;
  font-size:20px;
  font-family:"Lucida Grande";
}

img{
height:50px;
  width:70px;
}
